<!DOCTYPE html>
<html lang="es">

    <%- include partials/head -%>

    <body data-barba="wrapper">
        <main class="wrapper art" data-barba="container" data-barba-namespace="art">

            <%- include partials/corners -%>

            <div class="content container position-relative">
                <div class="row">
                    <div class="col-12 art-container d-flex text-center">
                        <div class="toggle-zoom">
                            <img id="art-img" src="{{fullSize}}" alt="{{title}}" class="figure-img img-fluid" alt="Responsive image">
                        </div>
                    </div>
                </div>
                <div class="row art-info-container">
                    <div class="col-12">
                        <h5>{{title}}</h5>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </main>

        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
