<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <title>Leav Café - Portafolio - Arte</title>
    </head>
    <body data-barba="wrapper">
        <main class="wrapper art" data-barba="container" data-barba-namespace="art">
            <div class="content container">
                <div class="row">
                    <div class="col-12 art-container text-center">
                        <a href="{{fullSize}}" title="Ver imagen completa en una nueva solapa" target="_blank">
                            <img src="{{fullSize}}" alt="{{title}}" class="img-fluid" alt="Responsive image">
                        </a>
                    </div>
                </div>
            </div>
        </main>

        <%- include partials/overlay -%>

        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
