<!DOCTYPE html>
<html lang="es">

    <%- include partials/head -%>

    <body data-barba="wrapper">
        <main class="wrapper bio" data-barba="container" data-barba-namespace="bio">

            <%- include partials/background -%>

            <div class="content container">

                <div class="d-flex flex-column">
                    <div class="row">
                        <div class="col-12">
                            <div class="title" title="Leav Café - Ilustrator & Comic Artist"></div>
                        </div>
                    </div>

                    <%- include partials/links -%>

                    <div class="row thumbnail-list flex-grow-1 justify-content-center">
                    </div>
                </div>
            </div>

        </main>

        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
