<!DOCTYPE html>
<html lang="es">

    <%- include partials/head -%>

    <body data-barba="wrapper">
        <main class="wrapper gallery" data-barba="container" data-barba-namespace="gallery">

            <%- include partials/background -%>

            <div class="content container gallery-{{category}}">

                <div class="d-flex flex-column">
                    <div class="row">
                        <div class="col-12">
                            <div class="title title-{{category}}" title="Leav Café - Ilustrator & Comic Artist"></div>
                        </div>
                    </div>

                    <%- include partials/links -%>

                    <div class="row flex-grow-1 justify-content-center overflow-hidden">
                        <div class="col-12 overflow-auto h-100">
                            <div class="row thumbnail-list">
                                {{#repeat 3}}
                                    <div class="col-lg-4 col-12 d-md-none d-lg-block">
                                        <div class="row">
                                            {{#each (segment artItems $iteration 3)}}
                                                <div class="col-12">
                                                    <div class="thumbnail" oncontextmenu="return false;">
                                                        <a href="art.html?id={{id}}">
                                                            <img src="{{thumbnail}}" alt="{{title}}" class="img-fluid">
                                                            <div class="thumbnail-overlay">
                                                                <span>{{title}}</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                {{/repeat}}

                                {{#repeat 2}}
                                    <div class="col-md-6 d-none d-md-block d-lg-none">
                                        <div class="row">
                                            {{#each (segment artItems $iteration 2)}}
                                                <div class="col-12">
                                                    <div class="thumbnail">
                                                        <a href="art.html?id={{id}}">
                                                            <img src="{{thumbnail}}" alt="{{title}}" class="img-fluid">
                                                            <div class="thumbnail-overlay">
                                                                <span>{{title}}</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                {{/repeat}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </main>


        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
