<!DOCTYPE html>
<html lang="es">

    <%- include partials/head -%>

    <body data-barba="wrapper">
        <main class="wrapper home" data-barba="container" data-barba-namespace="home">
            <%- include partials/background -%>

            <div class="content container d-flex flex-column">
                <div class="text-center">
                    <img class="title" src="<%= require('../assets/images/home-title.png') %>" alt="Leav Café - Ilustrator & Comic Artist" />
                </div>
                <div class="main-menu flex-grow-1">
                    <a class="button button-1" href="gallery.html?category=comic"></a>
                    <a class="button button-2" href="gallery.html?category=fanart"></a>
                    <a class="button button-3" href="contact.html"></a>
                    <a class="button button-4" href="bio.html"></a>
                    <a class="button button-5" href="gallery.html?category=illustration"></a>
                </div>
            </div>

        </main>


        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
