<div class="background">

    <% for(var i = 1; i <= 30; i++) {%>
        <img src="<%= require('../assets/images/decorations/decoration-' + i + '.png') %>" class="decoration decoration-<%= i %>" />
    <% } %>

    <div class="character right fade-in"></div>
    <div class="character left fade-in"></div>
</div>
