<div class="row">
    <div class="col-12 text-center">
        <a href="index.html">home</a> |
        <a href="gallery.html?category=illustration">Illustrations</a> |
        <a href="gallery.html?category=comic">Comics</a> |
        <a href="gallery.html?category=fanart">Fanarts</a> |
        <a href="bio.html">Bio</a> |
        <a href="contact.html">Contact</a>
    </div>
</div>
