<div class="row">
    <div class="col-12 text-center">
        <a href="index.html">home</a> |
        <a href="gallery.html">galería</a> |
        <a href="contact.html">contacto</a> |
        <a href="bio.html">bio</a>
    </div>
</div>
