.art {
    .art-container {
        max-height: 100vh;
        overflow: auto;

        a {
            cursor: zoom-in;
        }
    }

    .art-info {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        position: absolute;
        bottom: 0;
    }
}
