.art {
    .art-container {
        height: 100vh;
        overflow: auto;
        justify-content: center;

        .toggle-zoom {
            margin: auto 0;
            cursor: zoom-in;

            img {
                max-height: calc(100vh - 20px);
                pointer-events: none;
            }
        }

        .toggle-zoom.full-size{
            cursor: zoom-out;

            img {
                max-height: unset;
            }
        }
    }

    .art-info-container {
        position: absolute;
        bottom: 0;
        .col-12 {
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
        }
    }
}
