.art {
    .art-container {
        height: 100vh;
        overflow: auto;
        justify-content: center;

        a {
            margin: auto 0;
            img {
                cursor: zoom-in;
                max-height: calc(100vh - 20px);
            }
        }

        a img.full-size {
            cursor: zoom-out;
            max-height: unset;
        }
    }

    .art-info-container {
        position: absolute;
        bottom: 0;
        .col-12 {
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
        }
    }
}
