.contact {
    .flex-column {
        max-height: 100%;
    }

    .title {
        width: calc(100vw * .5);
        max-width: 600px;
        min-width: 425px;
    }

    .characters-container{
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10px 50px;

        .characters {
            background-image: url("../assets/images/contact-right-character.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 100%;
            height: 100%;
        }
    }

    .link-button {
        display: inline-block;
        transform: scale(0.95);
        transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);

        &:hover {
            transform: scale(1)
        }
    }
}
