.gallery {
    .title {
        width: calc(100vw * .5);
        max-width: 900px;
        min-width: 425px;
    }

    .character.left{
        background-image: url(/src/assets/images/gallery-left-character.png);
    }
    .character.right{
        background-image: url(/src/assets/images/gallery-right-character.png);
    }
}

@media (max-width: 1024px) {
    .gallery {
        .background {
            .character.right {
                background-position: bottom right;
                // @include resize($character-width, $character-height, $resize-ratio-md);
            }
        }
    }
}

@media (max-width: 440px) {
    .gallery {
        .title {
            width: 100%;
            max-width: unset;
            min-width: unset;
        }
    }
}
