@use "sass:math";

@function polarTranslation($radius, $degAngle) {
    $x: $radius * math.cos($degAngle);
    $y: $radius * math.sin($degAngle);
    @return translate(#{$x}, #{$y});
}

.home {
    .title {
        width: calc(100vw * .5);
        max-width: 750px;
        min-width: 425px;
    }

    .character.left{
        left: -155px;
        background-image: url("../assets/images/home-left-character.png");
    }
    .character.right{
        background-image: url("../assets/images/home-right-character.png");
        top: 53px;
        right: 25px;
    }
}

.main-menu {
    position: relative;

    .button {
        display: block;
        position: absolute;
        left: calc(50% - 170px);
        top: calc(50% - 170px);
        transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);

        $distance: 65%;
        $startingAngle: -90deg;

        @for $i from 1 through 5 {
            &-#{$i} {
                transform: polarTranslation($distance, $startingAngle + (($i - 1) * 72deg)) scale(0.7);
            }

            &-#{$i}:hover {
                transform: polarTranslation($distance, $startingAngle + (($i - 1) * 72deg)) scale(0.85);
            }
        }
    }

}

@media (max-width: 1024px) {
    .home {
        .background {
            .character.left {
                left: unset;
            }
            .character.right {
                background-position: bottom right;
            }
        }
    }
}

@media (max-width: 440px) {
    .home {
        .title {
            width: 100%;
            max-width: unset;
            min-width: unset;
        }
    }
}
