@use "sass:math";

$button-width: 250px;
$button-height: 250px;

@mixin position($radius, $degAngle) {
    $reference-width: 1110;
    $reference-height: 732;

    $left: $radius * math.cos($degAngle);
    $top: $radius * math.sin($degAngle);

    left: calc((#{$left} * 100% / #{$reference-width}) + 50% - #{$button-width / 2});
    top: calc((#{$top} * 100% / #{$reference-height}) + 50% - #{$button-height / 2});
}

.home {
    .title {
        width: calc(100vw * .5);
        max-width: 750px;
        min-width: 425px;
    }

    .character.left{
        left: -120px;
        background-image: url("../assets/images/home-left-character.png");
    }
    .character.right{
        background-image: url("../assets/images/home-right-character.png");
        top: 130px;
        right: 25px;
    }
}

.main-menu {
    position: relative;

    .button {
        display: flex;
        position: absolute;
        width: $button-width;
        height: $button-height;
        text-align: center;

        $distance: 250;
        $startingAngle: -90deg;

        a {
            display: block;
            max-width: $button-width;
            max-height: $button-height;
            width: calc(100vw / 7);
            height: calc(100vh / 3);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
            transform: scale(0.9);
        }

        a:hover {
            transform: scale(1);
        }

        @for $i from 1 through 5 {
            &-#{$i} {
                @include position($distance, $startingAngle + (($i - 1) * 72deg));
                a {
                    background-image: url('../assets/images/main-menu-button-#{$i}.png');
                }
            }
        }
    }
}
