.art {

    .art-title {
        border-bottom: 3px $body-color solid;
        padding-bottom: 10px;
    }

    .art-column {
        height: 100%;
        overflow: auto;
        justify-content: center;

        .art-container {
            margin: auto 0;
            cursor: zoom-in;

            img {
                max-height: calc(100vh - 20px);
                pointer-events: none;
            }
        }
    }

    .art-info-container {
        position: absolute;
        bottom: 0;
        .col-12 {
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
        }
    }

    .buttons-container {

        position: absolute;
        bottom: 0;

        .arrow img {
            max-width: 20%;
        }

        .return img {
            max-width: 60%;
        }

        a img {
            transform: scale(1);
            transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        }

        a:hover img {
            transform: scale(1.1);
        }

    }
}
