.art {

    .art-title {
        border-bottom: 3px $body-color solid;
        padding-bottom: 10px;
    }

    .art-column {
        height: 100%;
        justify-content: center;

        .art-container {
            margin: auto 0;
            cursor: zoom-in;
            overflow: hidden;

            img {
                pointer-events: none;
            }
        }
    }

    .detail-view {

        .art-container {
            max-height: 100%;

            img {
                max-height: calc(100vh - #{$container-padding-top} - #{$container-padding-bottom});
            }
        }
    }


    .buttons-container {

        .arrow {
            max-width: 19%;
        }
        .return {
            max-width: 59%;
        }

        .arrow,
        .return {
            display: inline-block;
            img {
                max-width: 100%;
            }
        }

        a img {
            transform: scale(1);
            transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        }

        a:hover img {
            transform: scale(1.1);
        }

    }
}
