.bio {
    .flex-column {
        max-height: 100%;
    }

    .title {
        background-image: url('../assets/images/title-bio.png');
        height: calc(100vh * 0.2);
    }

    @include media-breakpoint-down(sm) {
        .title {
            background-image: url('../assets/images/title-bio-small.png');
        }
    }

    .character
    {
        &.left {
            background-image: url("../assets/images/bio-left-character.png");
        }
        &.right {
            background-image: url("../assets/images/bio-right-character.png");
        }
    }
}
