.bio {

    .title {
        background-image: url('../assets/images/title-bio.png');
        height: calc(100vh * 0.2);
        min-height: 100px;

        @include media-breakpoint-down(sm) {
            background-image: url('../assets/images/title-bio-small.png');
        }

        @media (max-height: 500px) {
            background-image: url('../assets/images/title-bio-small.png');
        }
    }

    .character
    {
        &.left {
            background-image: url("../assets/images/bio-left-character.png");
        }
        &.right {
            background-image: url("../assets/images/bio-right-character.png");
        }
    }

    .link-bio {
        display: none;
    }

    .paragraph-separator {
        display: inline;
        max-height: 30vh;
        margin: 0 30px;

        &-cosmagia {
            max-height: 47vh;
        }
    }
}
