.bio {

    .title {
        background-image: url('../assets/images/title-bio.png');
        height: calc(100vh * 0.2);
    }

    @include media-breakpoint-down(sm) {
        .title {
            background-image: url('../assets/images/title-bio-small.png');
        }
    }

    .character
    {
        &.left {
            background-image: url("../assets/images/bio-left-character.png");
        }
        &.right {
            background-image: url("../assets/images/bio-right-character.png");
        }
    }

    .paragraph-separator {
        display: inline;
        max-height: 30vh;
        margin: 0 30px;

        &-cosmagia {
            max-height: 47vh;
        }
    }

    .min-h-0 {
        min-height: 0 !important;
    }
}
