.contact {
    .flex-column {
        max-height: 100%;
    }

    .title {
        background-image: url('../assets/images/contact-title.png');
        height: calc(100vh * 0.25);
        min-height: 150px;
    }

    .character
    {
        &.left {
            background-image: url("../assets/images/contact-left-character.png");
        }
        &.right {
            background-image: url("../assets/images/contact-right-character.png");
        }
    }

    .link-contact {
        display: none;
    }

    .link-button {
        display: inline-block;
        transform: scale(0.95);
        transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);

        &:hover {
            transform: scale(1)
        }
    }

    .email-button{
        display: block;
        background-image: url('../assets/images/email-address.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        &:hover{
            background-image: url('../assets/images/email-address-hover.png');
        }
    }
}
