@font-face {
    font-family: BellMT, 'Times New Roman', Times, serif;
    src: url('../assets/fonts/BELL_0.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: BellMT, 'Times New Roman', Times, serif;;
    src: url('../assets/fonts/BELLB_0.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: BellMT, 'Times New Roman', Times, serif;;
    src: url('../assets/fonts/BELLI_0.ttf');
    font-style: italic;
    font-weight: normal;
}
