@mixin title($sectionName) {

    .title {
        height: calc(100vh * 0.2);

        &.title-#{$sectionName} {
            background-image: url('../assets/images/title-#{$sectionName}.png');
        }

        @include media-breakpoint-down(sm) {
            &.title-#{$sectionName} {
                background-image: url('../assets/images/title-#{$sectionName}-small.png');
            }
        }
    }

}

.gallery {
    .flex-column {
        height: 100%;
    }

    @include title("comic");

    @include title("illustration");

    @include title("fanart");

    .thumbnail-list {
        overflow: auto;

        .thumbnail {
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;
            display: block;

            .thumbnail-overlay {
                transition: all 0.3s;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                text-align: center;

                span {
                    font-weight: bold;
                    color: #fff;
                    position: relative;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    display: inline-block;
                }
            }

            &:hover {
                .thumbnail-overlay {
                    opacity: 1;
                }
            }
        }
    }
}
