@use "sass:math";
@import "node_modules/bootstrap/scss/bootstrap";

$button-width: 250px;
$button-height: 250px;

@mixin position($radius, $degAngle) {
    $reference-width: 1110;
    $reference-height: 732;

    $left: $radius * math.cos($degAngle);
    $top: $radius * math.sin($degAngle);

    left: calc((#{$left} * 100% / #{$reference-width}) + 50%);
    top: calc((#{$top} * 100% / #{$reference-height}) + 50%);
}

.home {
    .title {
        background-image: url("../assets/images/home-title.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        width: 100%;
        height: calc(100vh * .25);
    }

    .character.left{
        background-image: url("../assets/images/home-left-character.png");
    }
    .character.right{
        background-image: url("../assets/images/home-right-character.png");
    }
}

.main-menu {
    @include media-breakpoint-up(md) {
        position: relative;
    }

    @include media-breakpoint-down(sm){
        @include make-row();
    }

    .button {
        text-align: center;
        max-width: $button-width;
        max-height: $button-height;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);

        @for $i from 1 through 5 {
            &-#{$i} {
                background-image: url('../assets/images/main-menu-button-#{$i}.png');
            }
        }

        @include media-breakpoint-up(md) {
            position: absolute;
            width: calc(100vw / 7);
            height: calc(100vh / 3);

            transform: translate(-50%, -50%) scale(0.9);
            $distance: 250;
            $startingAngle: -90deg;
            @for $i from 1 through 5 {
                &-#{$i} {
                    @include position($distance, $startingAngle + (($i - 1) * 72deg));
                }
            }

            &:hover {
                transform: translate(-50%, -50%) scale(1);
            }
        }

        @include media-breakpoint-only(md) {
            width: calc(100vw / 5);
            height: calc(100vh / 3);
        }

        @include media-breakpoint-down(sm){
            @include make-col-ready();
            @include make-col(6);

            transform: scale(0.9);

            &:hover {
                transform: scale(1);
            }
        }
    }
}
