$corner-width: 250px;
$corner-height: 250px;
$character-width: 100%;
$character-height: 100%;

$resize-ratio-md: .6;
$resize-ratio-sm: .4;

@mixin position($left, $top) {
    $reference-width: 1920;
    $reference-height: 973;

    left:  $left * 100% / $reference-width;
    top: $top * 100% / $reference-height;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: url(../assets/images/background.png);
}

.overflow{
    &-hidden {
        overflow: hidden;
    }

    &-auto {
        overflow: auto;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh);
}

.container, .container-fluid {
    height: 100vh;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 25px;
}

.title {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: calc(100vh * .25);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -100;

    .characters-container
    {
        width: 100%;
        height: 100%;

        // Sacar esto cuando esten las imagenes resized
        padding-top: 30px;
        padding-bottom: 30px;

        .character {
            position: absolute;
            background-repeat: no-repeat;
            width: 100%;

            // Sacar esto cuando esten las imagenes resized
            height: calc(100% - 60px);

            background-size: contain;
            background-origin: content-box;

            &.left {
                left: 0;
                background-position: center left;
            }

            &.right {
                right: 0;
                background-position: center right;
            }
        }
    }


    .decoration {
        position: absolute;
        background-repeat: no-repeat;

        &-1 { @include position(10, 350) }
        &-2 { @include position(0, 500) }
        &-3 { @include position(100, 400) }
        &-4 { @include position(280, 0) }
        &-5 { @include position(242, 703) }
        &-6 { @include position(470, 160) }
        &-7 { @include position(500, 275) }
        &-8 { @include position(485, 550) }
        &-9 { @include position(430, 743) }
        &-10 { @include position(490, 610) }
        &-11 { @include position(590, 750) }
        &-12 { @include position(660, 675) }
        &-13 { @include position(759, 230) }
        &-14 { @include position(762, 855) }
        &-15 { @include position(850, 470) }
        &-16 { @include position(908, 825) }
        &-17 { @include position(1083, 398) }
        &-18 { @include position(1183, 300) }
        &-19 { @include position(1203, 810) }
        &-20 { @include position(1265, 647) }
        &-21 { @include position(1351, 478) }
        &-22 { @include position(1312, 305) }
        &-23 { @include position(1406, 542) }
        &-24 { @include position(1432, 178) }
        &-25 { @include position(1523, 106) }
        &-26 { @include position(1665, 705) }
        &-27 { @include position(1713, 58) }
        &-28 { @include position(1804, 722) }
        &-29 { @include position(1849, 512) }
        &-30 { @include position(1875, 257) }
    }
}

.corners {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .corner {
        max-width: $corner-width;
        max-height: $corner-height;
        width: calc(100vw / 7);
        height: calc(100vh / 3);
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: content-box;
        margin: 5px;
    }

    .top-left {
        top: 0;
        left: 0;
        background-image: url("../assets/images/top-left-corner.png");
        background-position: top left;
    }
    .top-right {
        top: 0;
        right: 0;
        background-image: url("../assets/images/top-right-corner.png");
        background-position: top right;
    }
    .bottom-right {
        bottom: 0;
        right: 0;
        background-image: url("../assets/images/bottom-right-corner.png");
        background-position: bottom right;
    }
    .bottom-left {
        bottom: 0;
        left: 0;
        background-image: url("../assets/images/bottom-left-corner.png");
        background-position: bottom left;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;

    &-track{
        background: none;
    }

    &-thumb {
        background: rgba(136, 136, 136, 0);
        border-radius: 5px;
    }
}

/* Handle */
:hover {
    &::-webkit-scrollbar-thumb {
        background: rgba(136, 136, 136, 0.5);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(136, 136, 136, 1);
    }
}

@media (min-width:768px) and (max-width: 1440px) {
    .background {
        .decoration img {
            transform: scale($resize-ratio-md);
        }
    }
}

@media (max-width: 767.9px) {
    .background {
        .decoration img {
            transform: scale($resize-ratio-sm);
        }
    }
}
